<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confidential</title>
    <link rel="stylesheet" href="../../static/css/confidential.css" />
    <link rel="stylesheet" href="../../static/css/allpage.css" />
  </head>
  <body>
    <h1 class="title">[Confidential] OIDC not implemented Correctly</h1>
    <br />
    <div class="mail_section">
      <div><img src="../../static/images/profile.png" alt="profile_image" /></div>
      <div>
        <p><b>Admin</b> &lt;admin.mario@mariohub.com&gt;</p>
        <br />
        <p>to security@mariohub.com</p>
      </div>
    </div>
    <p class="content">Dear Security Team, </p>
    <p class="content">
      I hope this message finds you well. I am writing to
      bring to your immediate attention a significant flaw identified in our
      OpenID Connect (OIDC) implementation.
    </p>
    <p class="content">
      During a recent security audit and subsequent testing, we discovered a
      vulnerability that could potentially be exploited, compromising the
      integrity and security of our authentication process.
    </p>
    <p class="content">The flaw will will be discussed internally since this is confidential</p>
    <p class="content">Administrator</p>
    <br><br>
    <div class="mail_section">
      <div><img src="../../static/images/security.png" alt="profile_image" /></div>
      <div>
        <p><b>Security</b> &lt;security@mariohub.com&gt;</p>
        <br />
        <p>to admin.mario@mariohub.com</p>
      </div>
    </div>
    <p class="content">
      Hi Administrator, 
    </p>
    <p class="content">
      As we have discussed, we had raised the issue as p1 bug, and it was fixed on that day. 
    </p>
    <p class="content">for more queries, mail to security@mariohub.com</p>
    <div class="content">
        <span class="reply"><img src="../../static/images/reply.png" alt="reply"> reply</span>
    </div>
  </body>
</html>
