<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance</title>
    <link rel="stylesheet" href="../static/css/allpage.css" />
    <link rel="stylesheet" href="../static/css/maintenance.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <section class="maintenance">
      <img
        src="../static/images/background.jpg"
        alt="backgroundImage"
        class="backgroundImage"
      />
      <img src="../static/images/maintenance.png" alt="maintenance" />
      <h1 class="maintananceMessage">
        This page is Under Maintenance due internal issue. Our service will be
        Down till next month, Thank you for Understanding and your patience.
      </h1>
    </section>
  </body>
</html>
